body{
    background-color:#f1dac4 ;
    color:#0d0c1d;
    font-family: "Rubik Mono One", monospace;
overflow: hidden;
justify-content: center;
}

div{
    justify-content: center;
}

  
#body{
    overflow-y: scroll;
    overflow-x:hidden;
}
 